@model LeduInfo.Models.JsonUploadModel

@{
    ViewBag.Title = "JsonUploader";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>JsonUploader</h2>
@Html.Partial("Silverlight_Partical", Model.JsonUploadControl)
